[package]
name = "decay"
version = "0.1.0"
authors = ["Bruno Paulino <hi@bpaulino.com>"]
edition = "2021"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "decay"

[dependencies]
actix-web = "4"
dotenv = "0.15.0"
tracing = { version = "0.1", features = ["log"] }
env_logger = "0.11"
rust-s3 = "0.33.0"
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
futures = "0.3"
openssl = { version = "0.10", features = ["vendored"] }

[dev-dependencies]
reqwest = "0.11.23"

[profile.release]
strip = true # Automatically strip symbols from the binary to reduce binary size
