name: Build binary
on:
  # workflow_dispatch:
  #   inputs: {}
  pull_request:
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: build binary
        run: docker build -t rust_build .

      - name: create temp container
        run: docker create --name dist rust_build

      - name: copy binary
        run: |
          mkdir out && \
          docker cp dist:app/target/x86_64-unknown-linux-musl/release/decay out/decay

      - uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: |
            out/decay
