name: Build binary
on:
  pull_request:
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    uses: ./.github/workflows/build-binaries.yml
    secrets:
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}

  collect:
    name: Collect binaries
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: out
          pattern: '*-binaries'
          merge-multiple: true

      - uses: actions/upload-artifact@v6
        with:
          name: binaries
          path: out/
