name: Release new tag
on:
  workflow_dispatch:
    inputs:
      semver:
        description: "The SemVer value used by this release"
        type: string
        required: true

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

permissions: "write-all"

jobs:
  sanity-check:
    name: Branch sanity check
    runs-on: ubuntu-latest
    steps:
      - name: Verify main branch
        if: github.ref != 'refs/heads/main'
        run: |
          echo "Releases should only run from the main branch"
          exit 1

  build:
    needs: [sanity-check]
    uses: ./.github/workflows/build-binaries.yml
    with:
      version: ${{ github.event.inputs.semver }}
      cache-ref: "release-cache"
    secrets:
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}

  release:
    name: Release Turbo Cache Server
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Update version on Cargo.toml
        run: |
          sed -i "s/^version = \".*\"/version = \"${{ github.event.inputs.semver }}\"/" Cargo.toml

      - name: Download all binaries
        uses: actions/download-artifact@v6
        with:
          path: action
          pattern: '*-binaries'
          merge-multiple: true

      - name: Make binaries executable
        run: |
          chmod +x action/decay-arm64
          chmod +x action/decay-x64
          chmod +x action/decay-darwin-universal

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: login to Docker
        uses: docker/login-action@v3
        with:
          username: brunojppb
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: login to Github Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        env:
          CACHE_SERVER_VERSION: ${{ github.event.inputs.semver }}
        run: |
          docker buildx build --platform linux/arm64,linux/amd64 --tag ghcr.io/brunojppb/turbo-cache-server:$CACHE_SERVER_VERSION --tag ghcr.io/brunojppb/turbo-cache-server:latest --push .

      - name: Commit new binary
        env:
          CACHE_SERVER_VERSION: ${{ github.event.inputs.semver }}
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add action/decay-arm64
          git add action/decay-x64
          git add action/decay-darwin-universal
          git commit -am "Release ${CACHE_SERVER_VERSION}"
          git tag -a ${CACHE_SERVER_VERSION} -m "Release ${CACHE_SERVER_VERSION}"

      - name: Push new tag
        env:
          CACHE_SERVER_VERSION: ${{ github.event.inputs.semver }}
        run: git push origin $CACHE_SERVER_VERSION
